html,body {
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;
}

#app {}

#gameView {}
    .header {position: fixed; width: 100%; top:0;}

        .health-wrapper {text-align: left;}
            .health {}
                .glyphicon.glyphicon-heart-empty {}

        .menu-btn-wrapper {text-align: center;}
            .menu-btn {}
                .glyphicon.glyphicon-home {}

        .energy-cells {text-align: right;}
            .energy-cell {}
                .glyphicon.glyphicon-flash {}
                .glyphicon glyphicon-ok-circle {}
                .glyphicon glyphicon-refresh {}

    .content {}
        .mekk {}
            #player {}
            #enemy {}

    .footer {position: fixed; width:100%; bottom: 0;}
        .tinker-btn {}
            .glyphicon glyphicon-briefcase {}
        .attack-btn {}
            .glyphicon glyphicon-screenshot {}